.container{
	background-color: grey;
	width:100%;
    max-width:600px;
    height: 400px;
    margin: 0 auto;
    padding:10px;
}

.header {
	background-color: yellow;
	width: 580px;
	float: left;
	padding-bottom: -10px;
}

.row {
    height:100px;
    width:100%;b
    margin-bottom:10px;
    padding:10px;
}

.leftSide {
	background-color: pink;
	height: 100px;
	width: 20%;
	float: left;
	margin-right: 40px;
}

.rightSide {
	background-color: #99ccff;
	height: 100px;
	width: 70%;
	float: left;
}

.footer {
	background-color: yellow;
	height: 100px;
	width: 580px;
	float: left;
}